main.fls
main.aux
main.log
main.out
main.toc
main.bbl
main.blg
main.synctex.gz
main.snm
main.pdf
main.nav
main.fdb_latexmk
.DS_Store
main.vrb
main.dvi
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
_minted-main/
.vscode/
exe
texput.log
error
output
diags/